
build/
*/build/
*out/
*.out
x64/
x86/
bin/
bin-*/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
*.user
*.suo
*.sln
*.vcxproj*
*.vc.db


*.o
*.a


*.so
*.dylib
*.dll
*.exe
*.ilk
*.pdb
.vscode/
.idea/
*.code-workspace
*.log
*.tlog
*.obj
*.lst
*.test
*.gcda
*.gcno
.DS_Store
Thumbs.db

*.log
*.trx